@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root{
    /*=============== color ==============  */

    --pallete-1: #3E3c6E;
    --pallete-2: #FE9798;
    --pallete-3: #FEAE97;
    --pallete-4: #F6E8DF;
    --pallete-5: #023336;
    --pallete-6: #4da674;
    --pallete-7: #C1E6BA;
    --pallete-8: #EAF8E7;
    --pallete-9: #293855;
    --pallete-10: #4165D5;
    --pallete-11: #F1AC20;
    --pallete-12: #c3e8c9;
    --pallete-13: #252525;
    --pallete-14: #61CBFF;
    --pallete-15: #A56ABD;
    --pallete-16: #E95354;
    --pallete-17: #50ADBF;
    --pallete-18: #19384A;
    --pallete-19: #FDDA76;
    --pallete-20: #1B1B1B;
    --pallete-21: #77ABB6;
    --pallete-22: #F8B097;
    --pallete-23: #3FC495;
    --pallete-24: #F9CD6A;
    --pallete-25: #4840A3;
    --pallete-26: #9CBBFC;
    --pallete-27: #D8EFF7;
    --white: #fff;
    --black: #000;


    /*=============== fontsize ==============  */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph:clamp(2em,2vw, 4em);;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3:  4.0rem;
    --text-h2: 4.8rem;
    --text-h1: clamp(3em, 5vw, 8em);;
    
    /*=============== fontweight ==============  */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /*=============== line-height ==============  */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /*=============== line-spacing ==============  */
    --letter-spacing-tight: -2px
    
    /*=============== font-family ==============  */
    --font-family: "Poppins", serif;
    --font-family2: "Agu Disploy", serif;
}
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      html{
        font-size: 62.5%;
      }
      
      body {
        
        min-height: 100vh;
        background: linear-gradient(to bottom, black,rgb(89, 66, 194));
        font-family: "Josefin Sans", sans-serif;
        
        
      }
      
    .container{
        width: 90%;
        margin-inline: auto;
        min-width: 100vw;
        overflow-x: hidden;
        scroll-snap-type: none;
        scroll-behavior: auto;
      }
      .span{
        font-family: "Poppins", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      h1 {
        font-size: var(--text-h1);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-normal);
        letter-spacing: var(--letter-spacing-tight);
        color: var(--white);
        margin-bottom: 20px;
      }
      textarea{
        color: white;
        border: none;
        border: 2px solid white;
        border-radius: 8px;
        padding: 10px;
        margin-top: 20px;

      }
      h2{
        font-size: 3.4rem;
      }
      p {
        font-size: var(--text-paragraph);
        color: var(--white);
        
      }
      a{
        font-size: var(--text-paragraph);
        color: var(--white);
        text-decoration: none;
      }

      
      /* ======== NAVIGATION BAR ========== */

      nav{
       display: flex;
       position: fixed;
       background-color: #023336;
       bottom: 5%;
       left: 5%;
       margin-inline: auto;
       width: 90%;
       justify-content: center;
       align-items: center;
       padding: 2.5rem;
       border-radius: 25px;
       background-color: var(--pallete-10);
       backdrop-filter: blur(15px);
       border: 1px solid rgba(255, 255, 255, 0.43);
       box-shadow: 0 2px 15px rgba(140, 129, 167, 0.25);
       opacity: 0.9;
      }

     nav .logo{
        color: var(--white);
        letter-spacing: var(--letter-spacing-tight);
        padding: 1.0rem;
        font-size: clamp(2em,4vw, 4em);
        flex-shrink: 0;
    

      }
 
      .menu-wrapper{
        gap: 20px;
        color: var(--white);
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: var(--font-weight-bold);
        margin-inline: auto;
        
        
      }

      
      
 
   
        
      
        
        /*-----Icons------  */

     
      .icon-container{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 90%;
        margin-inline: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        
      }
     
      .icons{
        display: flex;
        background-color: transparent;
        backdrop-filter: blur(15px);
        color: var(--white);
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: flex;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background-color: #111142;
        margin-right: 20px;
        border: 1px solid #380ce6;
        box-shadow: 0 2px 15px#4321cc;
        cursor: pointer;
        padding: 1.0rem 1.5rem;
        transition: .5s ease-in-out;
      }
      .icons:hover{
        background-color: #0ce6d4;
        fill: #00ffff;
      }


   
      h2{
        letter-spacing: var(--letter-spacing-tight);
      }
      
      /* ======== PROFILE ========== */


      .profile{
        margin-inline: auto;
        width: 90%;
        padding: 1.0rem 1.5rem;
        position: relative;
  
        /* background-color: #a88484;
         */
         
         

      }

      .profile, .info{
        line-height: var(--line-height-tight);
       
        
        
      }
     
      .name{
        margin-top: 150px;
        background: -webkit-linear-gradient(90deg, #10ce7f, #608a8a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      
        

      }
      
      .img-container {   
        border-radius: 25px;
        box-shadow: 25px 9px 5px rgba(146, 110, 240, 0.911);
        min-height: 100px;
        max-width: 300px;
        margin-bottom: 50px;
        width: 90%;
        margin-inline: auto;

        }
        .img-container img::after{
          border-right:  12px solid #00ffff;
          border-bottom:  10px solid #00ffff;
        }

        .download{
          display: flex;
          align-items: center;
          width: 100%;
          margin-inline: auto;
          position: relative;
         }
         .download::after{
          content: '';
          height: 4px;
          width: 5%;
          background:linear-gradient(to right, #2932b863, #6b65be, #840de6);
          position: absolute;
          bottom: -5%;
          left: 0;
          transition: .3s ease-in;
          box-shadow: 0 2px 15px rgba(146, 110, 240, 0.911);
         }
         .download:hover::after{
          width: 30%;
         }
      /* ======== About ========== */
      .about{
        width: 100%;
        
        font-size: clamp(2em,2vw, 4em);
        /* background-color: #00ffff; */
        color: var(--white);
        
      }
   
   
     
  
      
      Progress{
        font-size: 2.4rem;
      }
      /* ======== PROJECTS ========== */

      .Project{
        min-height: 400px;
        width: 90%;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #292626;
        position: relative;
        border-radius: 25px;
        margin-bottom: 10px;
        
       

      }
       .project-name h2{
        
        max-width: 500px ;
        font-size: var(--text-h3);
        color: var(--white);
        text-decoration: none;
        display: flex;
        position: absolute;
        left: 4%;
        top: 10%;
        font-weight: var(--font-weight-bold);
      }
      .pp{
        width: 100%;
        font-size: clamp(0.3em, 2vw, 3em);
        color: var(--white);
        text-decoration: none;
        display: flex;
        position: absolute;
        left: 75%;
        bottom: 5%;
        font-weight: var(--font-weight-bold);
      }
      
      .project-link {
        position: absolute;
        top: 10%;
        width: 90%;
        max-height: 300px;
        padding: 2.5rem;
        border-radius: 8px;
        border: 1px solid rgb(240, 236, 236);
        transform: translateX(-50%);
      }
      .contact{
        margin-bottom: 400px;
        height: 300px;
        width: 90%;
        margin-inline: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        /* background-color: #00ffff; */
      }
      .work{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
      }
      .contact p{
        margin-bottom: 50px;
      }
      form{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 350px;
        gap: 10px;
        background-color: #00ffff;
        padding: 1.0rem;
        font-size: var(--text-paragraph);
        background-color: transparent;
        backdrop-filter: blur(15px);
        color: var(--white);
        border-radius: 20px;
        margin-bottom: 480px;
      }
       input{
        padding: .5rem;
        background-color: transparent;
        border: none;
        font-size: 2.4rem;
        border-bottom: 2px solid white;
        color: var(--white);
        cursor: text;
      }
      textarea{
        background-color: var(--white);
        height: 100px;
        font-size: 2.4rem;
        padding: 1.0rem 1.5rem;
       
      }
      label{
        color: var(--black);
        cursor: text;
      }
      button{
        display: inline-flex;
        width: 170px;
        padding: 1.0rem 1.5rem;
        font-size: var(--text-paragraph);
        background-color: var(--pallete-10);
        color: var(--white);
        margin-left: 200px;
        border-radius: 8px;
      }
      footer{
        display: flex;
        gap: 20px;
        padding: 1.0rem 1.5rem; 
        width: 100%;
        z-index: 99;
        bottom: 0;
        left: 0;
        right: 0;
        height: 300px;
        background-color: var(--black);
        position: relative;
        font-size: var(--text-paragraph);
        color: var(--white);
        
      }
      


  @media (max-width: 400px) {
     .logo{
      display: none;
    }
    .img-container {   
      border-radius: 25px;
      box-shadow: 15px 5px 5px rgba(146, 110, 240, 0.911);
      min-height: 150px;
      max-width: 200px;
      margin-bottom: 50px;
      width: 90%;
      margin-inline: auto;

  }
