html{
    font-size: 62.5%;
}

.container-game{
    
 
    /* background-color: #94e90b; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 150px;
}
.move-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    background-color: transparent ;
    backdrop-filter: blur(5px);
    width: 100%;
   
}
.function-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 p{
    
    color: white;
    margin-bottom: 20px;
}
.title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

    /* -------- Rock BTN --------*/

.move-icon{
   height: 50px;  
}
.move-button{
    height: 70px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #7eb426;
    box-shadow: 0 2px 15px#94e90b;
   
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-bottom: 100px;
    cursor: pointer;
}
.move-button:hover{
    background-color: rgb(13, 15, 2);
}

.score{
    color:var(--white);
    margin-bottom: 60px;
}
.reset-btn{
    padding: 1.0rem 5.5rem;
    background-color: rgb(21, 132, 230);
    display: inline-flex;
    border: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 0 10px;
    
}
.js-auto{
    padding: 1.0rem 5.0rem;
    background-color: rgb(39, 131, 211);
   

    margin: 0 10px;
    border: none;
    font-size: 24px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
   
}
.js-result{
    color:var(--white);
    font-size: 32px;
    font-weight: 700;
}